{% extends 'core/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Drug name</th>
            <th>Drug form</th>
            <th>Main comp dosage</th>
            <th>Approved</th>
            <th>Components</th>
            <th>Number of boxes</th>
            <th>Label</th>
            <th>Usage time</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for drug in page_obj %}
        <tr>
            <td><input type="checkbox" name="selected_storages" value="{{ drug.id }}"></td>
            <td>{{ drug.name }}</td>
            <td>{{ drug.form }}</td>
            <td>{{ drug.main_component_dosage }}</td>
            <td>{% if drug.is_approved %}
                Approved
                {% else %}
                NOT APPROVED
                {% endif %}
            </td>
            <td>{{ drug.components }}</td>
            <td> <a href="{% url 'products_by_approved_drug' drug.id %}"> {{ drug.product_set.count }} </a></td>
            <td><a href="{{ drug.label.url }}" target="_blank">View Label</a></td>
            <td>{{ drug.usage_time }} {{ drug.usage_time_unit }}</td>

            <td>Edit</td>
            <td><a href="{% url 'approved_drugs_history' drug.id %}">View History</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <br><br>

{% if page_obj.has_previous %}
<a href="?page=1">Page 1</a>
<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">Next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock %}
