{% extends 'core/base.html' %}
{% block title %}Storage List{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th></th>
            <th>Rack</th>
            <th>Box</th>
            <th>Products inside</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for storage in page_obj %}
        <tr>
            <td><input type="checkbox" name="selected_storages" value="{{ storage.id }}"></td>
            <td> {{ storage.rack }} </td>
            <td> {{ storage.box }} </td>
            <td> <a href="{% url 'view_storage_products' storage.id %}"> {{ storage.count_products_in_box }} </a></td>
            <td>Edit</td>
            <td> <a href="{% url 'storage_history' storage.id %}">View History</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
{% if page_obj.has_previous %}
<a href="?page=1">Page 1</a>
<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">Next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}
{% endblock %}