{% extends 'core/base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <h1>{{ storage }}</h1>
   <p>History:</p>
  <br>
<p>History:</p>
    <br><br>

    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Created</th>
      <th scope="col">Created by</th>
      <th scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">{{ storage.created_at }}</th>
        <th scope="row">{{ storage.created_by }}</th>
        <th scope="row">{{ storage.updated_at }}</th>
    </tr>
  </tbody>
</table>
<br>
    <h3>Additional information: </h3>
    <p>{{ storage.extra_info |linebreaksbr }}</p>

    <br><br><br>
        <a href="{% url 'storage_list' %}">Back to Storage</a>
    <br><br><br>
{% endblock %}
